{% extends 'base.html' %}
{% block body %}
<div>
   <p><a href="{{ url_for('index')}}"> Home </a></p>
   <h3>{{ legend }}</h3>

   {% if form %}
   <form method="POST" action="">
       {{ form.csrf_token }}
       {{ form.champ_id.label }} {{ form.champ_id }}
       {{ form.champ_name.label }} {{ form.champ_name }}
       {{ form.champ_affiliation.label }} {{ form.champ_affiliation }}

       <button class="btn btn-primary" type="submit" formaction="{{url_for('update_champ', champ_id=form.champ_id)}}">Update</button>
       <button class="btn btn-danger" type="submit" formaction="{{url_for('delete_champ', champ_id=form.champ_id)}}">Delete</button>


   </form>
   {% endif %}
</div>
{% endblock %}